<BODY>
This doclet is based on the doclet originally created by Greg Wonderly of
<A href=http://www.c2-tech.com>C2 technologies Inc.</A> and its revision by
<A HREF=http://www.xosoftware.dk>XO Software</A>. The project of Greg Wonderly is available here : 
<A href=http://java.net/projects/texdoclet>http://java.net/projects/texdoclet</A>.
</BODY>
